
.article-form {
    padding: 16px;
    border: solid gray 1px;
    box-shadow: 0 0 2px;
    width: 500px;
}

.article-form .form-title {
    padding: 4px;
    font-size: 16pt;
}

.article-form .form-row {
    padding: 4px;
    text-align: left;
    clear:both;
}

.article-form .form-label {
    color: #080808;
    font-weight: normal;
    font-size: 12pt;
    margin-bottom: 8px;
}

.article-form .form-field {
    margin-bottom: 8px;
}

.article-form .form-field input {
    width: 450px;
    font-size: 12pt;
    padding: 4px;
    color: #404040;
}

.article-form .form-field textarea {
    width: 450px;
    height: 150px;
    font-size: 12pt;
    padding: 4px;
    border: solid silver 1px;
    color: #404040;
}

.article-form .form-buttons {
    text-align: right;
}

.article-form .form-errors {
    color: red;
    font-size: 12pt;
}
