<div class="article-form">
    <div class="form-title">
        {{ $ctrl.dialogTitle }}
    </div>
    <div class="form-row">
        <div class="form-label">
            Title:
        </div>
        <div class="form-field">
            <input ng-model="$ctrl.article.title" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-label">
            Introduction:
        </div>
        <div class="form-field">
            <input ng-model="$ctrl.article.intro" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-label">
            Full text:
        </div>
        <div class="form-field">
            <textarea ng-model="$ctrl.article.content"></textarea>
        </div>
    </div>
    <div class="form-row form-buttons">
        <a class="btn btn-success" ng-click="$ctrl.save()">
            Save
        </a>
        <a class="btn btn-warning" ng-click="$ctrl.cancel()">
            Cancel
        </a>
    </div>
    <div class="form-row form-errors" ng-show="$ctrl.errors.length != 0">
        <div ng-repeat="error in $ctrl.errors">
            {{ error }}
        </div>
    </div>
</div>
