<div class="articles">
    <div ng-show="$ctrl.ArticlesService.populating">
        <h1>Loading, please have a coffee...</h1>
    </div>
    <div ng-hide="$ctrl.ArticlesService.populating" style="clear:both;">
        <div class="articles-title">
            {{$ctrl.count() == 0 ? "Sorry, nothing to see here, move along." : $ctrl.count() + " articles" }} 
        </div>
        <a class="btn btn-success btn-add-article"
            ng-click="$ctrl.addArticle()" 
            ng-show="$ctrl.UserService.loggedIn">
            Add article ...
        </a>
    </div>
    <div ng-hide="$ctrl.ArticlesService.populating" style="clear:both;">
        <news-app-article 
            article="article"
            ng-repeat="article in $ctrl.ArticlesService.items">
        </news-app-article>
    </div>
</div>
