.articles {
    clear:both;
}

.articles .articles-title {
    float:left;
    font-size: 24pt;
}

.articles .btn-add-article {
    float:right;
}

.article {
    margin-bottom: 16px;
    clear:both;
}

.article .title {
    font-size: 18pt;
}

.article .content {
    color: #080808;
    margin-bottom: 8px;
}

