<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-brand">
        <a href="/">
            <i class="fa fa-cube fa-lg"></i>
            AngularJS Hack Day
        </a>
        </div>
        <div class="navbar-right">
            <a ui-sref="login" ng-hide="$ctrl.UserService.loggedIn">
                <i class="fa fa-user"></i>
                Log in
            </a>
            <a ng-click="$ctrl.logOut()" ng-show="$ctrl.UserService.loggedIn">
                <i class="fa fa-user"></i>
                Hello, {{$ctrl.UserService.name}}, log out
            </a>
        </div>
    </div>            
</div>