<div class="view about">
    <div>
        <h1><i class="fa fa-code"></i> About ...</h1>
    </div>
    <div>
        AngularJS Tutorial Application
    </div>
    <div>
        Courtesy of Tomasz Waraksa, Agilis Consulting Limited
    </div>
    <div>
        Contact me at <a href="mailto:tomasz@waraksa.net">tomasz@waraksa.net</a>
        for more information. If you need customized on-site trainings for your team, 
        professional advice and hands-on help with developing great software,
        if your team needs mentoring and coaching or if you just want to talk to 
        an expert about programming practices and software architectures, I'll be glad 
        to meet you!
    </div>
    <div>
        <a class="btn btn-default" ui-sref="home">
            <i class="fa fa-chevron-left"></i>
            Back ...
        </a>
    </div>
</div>
