<div class="panel panel-default login">
    <div class="panel-heading">
        Please enter your credentials:
    </div>
    <div>
        User name:
    </div>
    <div>
        <input type="text" ng-model="$ctrl.username">
    </div>
    <div>
        Password:
    </div>
    <div>
        <input type="password" ng-model="$ctrl.password">
    </div>
    <div>
        <a class="btn btn-warning" ng-click="$ctrl.cancel()">Cancel</a>
        <a class="btn btn-success" ng-click="$ctrl.ok()">OK</a>
    </div>
</div>
